@model List<Customer>
<style>
    .dt-buttons .btn {
        padding: 0.5rem 0.5rem;
        font-size: .8rem;
    }
</style>
<div class="content-overlay"></div>
<div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section id="html5">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-content collapse show">
                            <div class="card-body card-dashboard">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered dataex-html5-export">
                                        <thead>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>วันที่เข้า</th>
                                                <th>เวลาเข้า</th>
                                                <th>ทะเบียนรถ</th>
                                                <th>ชื่อ-นามสกุล</th>
                                                <th>เบอร์โทรศัพท์</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int ii = 1;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@ii.</td>
                                                    <td>@item.created_at.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.created_at.ToString("HH:mm:ss")</td>
                                                    <td>@item.car_license</td>
                                                    <td>@item.name</td>
                                                    <td>@item.phone</td>
                                                </tr>
                                                ii++;
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@section Scripts {
<script>

        $(document).ready(function () {
            // $('.dataex-html5-export').DataTable({
            //     dom: 'Bfrtip',
            //     buttons: [
            //         'copyHtml5',
            //         'excelHtml5'
            //     ]
            // });
            // Setup - add a text input to each footer cell

            $('.dataex-html5-export thead tr')
                .clone(true)
                .addClass('filters')
                .appendTo('.dataex-html5-export thead');

            var table = $('.dataex-html5-export').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5'
                ],
                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" placeholder="' + title + '" />');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('change', function (e) {
                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();
                                })
                                .on('keyup', function (e) {
                                    e.stopPropagation();

                                    $(this).trigger('change');
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
            });
        });


</script>
}
