<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Locations list start -->
            <section class="Locations-list-wrapper">
                <div class="Locations-list-filter px-1">
                </div>
                <div class="Locations-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive" id="dvShow">
                                    <partial name="_table"
                                             model='new List<ROPData>()'>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Locations list ends -->
        </div>
    </div>
</div>

<div class="modal fade text-left" id="mdMapping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary ">
                <h4 class="modal-title white" id="myModalLabel2"><i class="la la-cart-arrow-down"></i> การลงวัตถุดิบแบบพ่วง</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h5><i class="la la-check-square"></i> เพิ่มสถานที่ลงวัตถุดิบหลังจากลงที่ <b id="afLoc" class="text-success"></b></h5>
                <input type="hidden" id="addonID" /><input type="hidden" id="addonLocID" /><input type="hidden" id="addonLocName" />
                <div class="row py-2 skin skin-flat" id="dvAddon">
                </div>

                @*    <div class="alert alert-success" role="alert">
                <span class="text-bold-600">ข้อแนะนำ !</span> เลือกได้มากกว่า 1 สามารถลงที่ใดก็ได้ ในกรณีที่ไม่ได้เปิดเครื่อง
                </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="SaveMapping()">Save</button>
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- END: Content-->
@section Scripts {
    <script>
        var table;
        $(function () {
            Swal.fire({
                title: 'Loading ..',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                },
            });
            $('#dvShow').load('@(Url.Action("getDataROP", "ROP"))', function () {

                table = $("#myTable").DataTable({
                    dom: "Bfrtip",
                    buttons: [{
                        text: "เพิ่มการลงวัตถุดิบ",
                        className: "btn btn-success btn-sm",
                        action: function () {
                            window.location.href = '@Url.Content("~/ROP/FormROP/0")';
                        },
                    }, "copy", "csv", "excel"]
                }), $(".buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel").addClass("btn btn-primary btn-sm")

                swal.close();
            });

            $('input').iCheck('ifChecked', function () {
                alert('Well done, Sir');
            });
        });

        function DeleteROP(id, name) {
            Swal.fire({
                title: `คุณต้องการลบการลงวัตถุดิบ ${name}?`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ยืนยัน!',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                cancelButtonText: 'ยกเลิก',
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    $.post('@Url.Action("DeleteROP", "ROP")', { id: id }, function (data) {
                        if (data.result.isCompleted) {
                            toastr.success(`ลบ ROP ${name} สำเร็จ`);
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            toastr.error(data.result.message[0]);
                        }
                    });
                }
            });
        }

        function Mapping(id, loc_id, loc_name) {

            $("#addonID").val(id); $("#addonLocID").val(loc_id); $("#addonLocName").val(loc_name);

            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: "@Url.Action("LoadAddon", "ROP")",
                data: { id: id, location_id: loc_id },
                success: function (data) {
                    if (data.status == "success") {
                        $("#afLoc").html(loc_name);
                        let _addon = data.addon; let _loc = data.loc;
                        let _build = '';
                        for (let i = 0; i < _loc.length; i++) {
                            //debugger
                            _build += "<div class='col-3'> <fieldset><input class='chkADDON' type='checkbox' id='chk_" + _loc[i].id + "' " + (jQuery.inArray(_loc[i].id, _addon) == -1 ? "" : "checked") + "><label class='font-medium-1 ' for='chk_" + _loc[i].id + "'>&nbsp;&nbsp;" + _loc[i].name + "</label></fieldset> </div>";
                        }
                        $("#dvAddon").html(_build);
                        $('.skin-flat input').iCheck({
                            checkboxClass: 'icheckbox_flat-green',
                            radioClass: 'iradio iradio_flat-green'
                        });

                        $('.chkADDON').on('ifChecked', function (event) {
                            //debugger
                            ToggleChx(event);
                        });

                        $('.chkADDON').on('ifUnchecked', function (event) {
                            //debugger
                            ToggleUnChx(event);
                        });

                    } else {
                        swal.close();
                        toastr.error("Something went wrong");
                    }
                },
                error: function (err) {
                    swal.close();
                    toastr.error("Something went wrong");
                },
                complete: function (data) {

                }

            });
            $("#mdMapping").modal("show");

        }
        let _locs = [];
        function ToggleChx(e) {
            $('#dvAddon input[type="checkbox"]').iCheck('uncheck').iCheck('update');
            //debugger
            _locs = [];
            _locs.push({
                rop_id: parseInt($("#addonID").val()),
                location_id: parseInt(e.target.id.split('_')[1]),
            });
        }

        function ToggleUnChx(e) {
            $('#dvAddon input[type="checkbox"]').iCheck('checked').iCheck('update');
            //debugger
            _locs = [];
            _locs.push({
                rop_id: parseInt($("#addonID").val()),
                location_id: parseInt(0),
            });
        }

        function SaveMapping() {

            let _name = $("#addonLocName").val();

            Swal.fire({
                title: `คุณต้องการเพิ่มการลงวัตถุดิบกับสถานที่ ${_name}?`,
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ยืนยัน!',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger ml-1',
                cancelButtonText: 'ยกเลิก',
                buttonsStyling: false,
            }).then((result) => {
                if (result.value) {
                    //debugger
                    //$(".chkADDON").each(function () {
                    //    if ($(this).is(':checked')){
                    //        _locs.push({
                    //            rop_id: parseInt($("#addonID").val()),
                    //            location_id: parseInt($(this)[0].id.split('_')[1]),
                    //        });
                    //    }
                    //});

                    //debugger
                    if (_locs.length > 0 && _locs[0].location_id === 0) {
                        $.ajax({
                            cache: false,
                            async: true,
                            type: "POST",
                            url: "@Url.Action("DeleteAddon", "ROP")",
                            data: { locs: JSON.stringify(_locs) },
                            success: function (data) {
                                if (data.status == "success") {

                                    toastr.success(data.message);
                                    setTimeout(function () {
                                        location.reload();
                                    }, 1000);

                                } else {
                                    toastr.error("Something went wrong : " + data.message);
                                }
                            },
                            error: function (err) {
                                toastr.error("Something went wrong");
                            },
                            complete: function (data) {

                            }
                        });
                    } 
                    else {
                        $.ajax({
                            cache: false,
                            async: true,
                            type: "POST",
                            url: "@Url.Action("SaveAddon", "ROP")",
                            data: { locs: JSON.stringify(_locs) },
                            success: function (data) {
                                if (data.status == "success") {

                                    toastr.success(data.message);
                                    setTimeout(function () {
                                        location.reload();
                                    }, 1000);

                                } else {
                                    toastr.error("Something went wrong : " + data.message);
                                }
                            },
                            error: function (err) {
                                toastr.error("Something went wrong");
                            },
                            complete: function (data) {

                            }

                        });
                    }
                }
            });
        }

    </script>
}