@model BNP.SCG.Web.Models.RawMaterial

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><!-- RawMaterials list start -->
            <section class="RawMaterials-list-wrapper">
                <div class="RawMaterials-list-filter px-1">
                </div>
                <div class="RawMaterials-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">
                                    <table id="myTable" class="table table-hover bg-darken-4">
                                        <thead>
                                            <tr class="bg-dark bg-lighten-1 white">
                                                <th>วัตถุดิบ</th>
                                                <th>หมวดหมู่</th>
                                                <th>ประเภทวัตถุดิบ</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (RawMaterial item in ViewBag.rawMaterials)
                                            {
                                                <tr>
                                                    <td>@item.name</td>
                                                    <td>@item.category_name</td>
                                                    <td>@item.raw_material_type_name</td>
                                                    <td>
                                                        <a asp-action="FormRawMaterial" asp-controller="MasterData"
                                                        asp-route-id="@item.id" class="info edit mr-1"><i
                                                            class="la la-pencil"></i></a>
                                                        <a class="danger delete mr-1"
                                                        onclick="DeleteRawMaterial('@item.id', '@item.name')"><i
                                                            class="la la-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- RawMaterials list ends -->
        </div>
    </div>
</div>
<!-- END: Content-->

@section Scripts {
<script>

    $(function () {
        $("#myTable").DataTable({
            dom: "Bfrtip",
            buttons: [{
                text: "เพิ่มวัตถุดิบ",
                className: "btn btn-success btn-sm",
                action: function () {
                    window.location.href = '@Url.Content("~/MasterData/FormRawMaterial/0")';
                },
            }, "copy", "csv", "excel"]
        }), $(".buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel").addClass("btn btn-primary btn-sm")

    });

    function DeleteRawMaterial(id, name) {
        Swal.fire({
            title: `คุณต้องการลบวัตถุดิบ ${name}?`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ยืนยัน!',
            confirmButtonClass: 'btn btn-primary',
            cancelButtonClass: 'btn btn-danger ml-1',
            cancelButtonText: 'ยกเลิก',
            buttonsStyling: false,
        }).then((result) => {
            if (result.value) {
                $.post('@Url.Action("DeleteRawMaterial", "MasterData")', { id: id }, function (data) {
                    if (data.result.isCompleted) {
                        toastr.success(`ลบวัตถุดิบ ${name} สำเร็จ`);
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        toastr.error(data.result.message[0]);
                    }
                });
            }
        });
    }

</script>
}